h1{
    text-align: center;
    padding: 20px;
    color: darkslategray;
}

.whole-container{
    display: inline-block;

}

section{
    
    padding-top: 100px;
}

.topic-writting{
    padding: 20px;
    width: 100%;
}

img{
    width: 50%;
    padding: 20px;
}
.topic-img{
    
    display: flex;
    justify-content: center;
}