


h1{
    
    padding-left: 20%;
    color: darkslategray;
}



section{

    padding-left: 20%;
    padding-right: 20%;
}

.topic-heading{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 20%;
}

.topic-writting{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 20%;
    width: 100%;
}


img{
    width: 80%;
    padding: 20px;
}
.topic-img{
    
    display: flex;
    justify-content: flex-start;
}