h1{
    text-align: center;
    padding: 20px;
    color: darkslategray;
}

.whole-container{
    display: inline-block;

}

section{
    
    padding-top: 100px;
}

.topic-writting{
    padding: 20px;
    width: 50%;
}

img{
    width: 40%;
    padding-left: 20px;
}
